{{ form_start(form, {'attr': {'class': 'custom-form'}} ) }}
    {{ form_widget(form, {'attr': {'class': 'custom-input'}}) }}
    <button class="btn btn-primary btnUpdateProduct">{{ button_label|default('Salveaza') }}</button>
    <a  class="btnBack btn btn-info" href="{{ path('app_user_index') }}">Inapoi la lista de utilizatori</a>
{{ form_end(form) }}
{# Afișează butonul de ștergere doar dacă există deja un ID (deci nu este cazul de creare) #}
    {% if user is defined and user.id is not null %}
        {{ include('user/_delete_form.html.twig') }}
    {% endif %}

